.banner {
	
display: flex;

justify-content: space-between;
align-items: center;
width: 95vw;
margin: 5vh auto 0 auto;
}

.promo{
	width: 60%;
	background-image: url(/img/kali.png);
	background-repeat: no-repeat;
	background-position:  center;
	background-size: cover;
	height: 50vh;
}
.donate {
	display: flex;
	justify-content: center;
	align-items: baseline;
	width: 30vw;
	height: 10vh;

	
}
.donate a{
	display: inline-flex;
	text-decoration: none;
	text-transform: uppercase;
	color: rgba(192, 192, 192, 0.5);
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-size: 2em;
	letter-spacing: 0.1rem;

}
.donate a:hover{
	transition: 1s;
	color: rgba(192, 192, 192, 0.8);
}
.donate a:focus{
	transition: 0.8s;
	color: blue;
}

@media(max-width: 1050px)
{
	.banner{
		flex-direction: column-reverse;
	}
	.promo {
		width: 95vw;
		margin-top: 2vh;
		height: 40vh;
	}
	.donate {
		width: 95vw;
		height: 10vh;
		margin-bottom: 2vh;
	}
	.donate a{
	display: inline-flex;
	align-items: baseline;
	font-size: 3em;
	

}
.banner div{
	margin: 0 auto;
}
}