section{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
  
   

    

}
section div {
    width: 30%;
    height: 40vh;
    outline: solid 0.2rem ;
    outline-color: rgba(192, 192, 192, 0.5);
    margin-bottom: 5vh;
    padding: 0.5rem;
    background: black;
    
}
section div:hover{
   transition: 0.5s;
   outline-color: rgba(192, 192, 192, 0.8);

}
section div a{
   display: flex;
   width: 100%;
   height: 100%;
}
section div a img{
   display: flex;
   width: 100%;
}


@media (max-width:1050px){

section {
   display: flex;
   flex-direction: column;
   
}

section div {
    width: 90vw;
    height: 45vh;
    margin: 3vh auto;
    
}
}